<div class="min-h-screen flex relative lg:static surface-ground">
  <div id="app-sidebar-1"
       class="surface-section hidden lg:block flex-shrink-0 absolute lg:sticky lg:top-0 left-0 top-0 z-1 border-right-1 surface-border select-none h-screen"
       style="width:280px">
    <div class="flex flex-column h-full ">
      <div class="flex flex-column align-items-center flex-shrink-0" style="height:60px">
        <img src="https://i.postimg.cc/CKZ3dXXS/logo-hairypaws-2-modified.png" alt="Image" height="60" class="border-circle">
      </div>
      <div class="flex-grow-1 overflow-y-auto">
        <ul class="list-none p-2 m-0">
          <li>
            <div pRipple class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer"
                 pStyleClass="@next" enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                 leaveActiveClass="slideup">
              <span class="font-medium text-primary">PETS</span>
              <i class="pi pi-chevron-down"></i>
            </div>
            <ul class="list-none p-0 m-0 overflow-hidden">
              <li routerLink="/hairy-paws/pets">
                <a pRipple
                   class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                  <i class="pi pi-list mr-2"></i>
                  <span class="font-medium">All Pets</span>
                </a>
              </li>
              <li routerLink="/hairy-paws/filter-pets">
                <a pRipple
                   class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                  <i class="pi pi-filter mr-2"></i>
                  <span class="font-medium">Filter Pets</span>
                </a>
              </li>
              <li *ngIf="isOwner || isONG" routerLink="/hairy-paws/my-pets">
                <a pRipple
                   class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                  <i class="pi pi-heart mr-2"></i>
                  <span class="font-medium">My Pets</span>
                </a>
              </li>
              <li *ngIf="isOwner || isONG" routerLink="/hairy-paws/pet-register">
                <a pRipple
                   class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                  <i class="pi pi-plus-circle mr-2"></i>
                  <span class="font-medium">Register Pet</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div>
          <ul class="list-none p-2 m-0">
            <li>
              <div pRipple class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer"
                   pStyleClass="@next" enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                   leaveActiveClass="slideup">
                <span class="font-medium text-primary">NOTIFICATIONS</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li routerLink="/hairy-paws/notifications">
                  <a pRipple
                     class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                    <i class="pi pi-bell mr-2"></i>
                    <span class="font-medium">All Notifications</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul class="list-none p-2 m-0">
            <li>
              <div pRipple class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer"
                   pStyleClass="@next" enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                   leaveActiveClass="slideup">
                <span class="font-medium text-primary">ORGANIZATIONS</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li routerLink="/hairy-paws/ongs">
                  <a pRipple
                     class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                    <i class="pi pi-building mr-2"></i>
                    <span class="font-medium">All NGOs</span>
                  </a>
                </li>
                <li routerLink="/hairy-paws/events">
                  <a pRipple
                     class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                    <i class="pi pi-calendar mr-2"></i>
                    <span class="font-medium">All Events</span>
                  </a>
                </li>
                <li *ngIf="isONG" routerLink="/hairy-paws/event-register">
                  <a pRipple
                     class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                    <i class="pi pi-calendar-plus mr-2"></i>
                    <span class="font-medium">Register Event</span>
                  </a>
                </li>
                <li routerLink="/hairy-paws/ong-register">
                  <a pRipple
                     class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                    <i class="pi pi-plus-circle mr-2"></i>
                    <span class="font-medium">Register NGO</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <ul class="list-none p-2 m-0">
            <li>
              <div pRipple class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer"
                   pStyleClass="@next" enterFromClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                   leaveActiveClass="slideup">
                <span class="font-medium text-primary">PROFILE</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li routerLink="/hairy-paws/profile">
                  <a pRipple
                     class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors">
                    <i class="pi pi-user mr-2"></i>
                    <span class="font-medium">My Profile</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="mt-auto">
        <hr class="mb-3 mx-3 border-top-1 border-none surface-border"/>
        <a pRipple
           class="m-3 flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors"
           (click)="logout()">
          <i class="pi pi-sign-out mr-2 text-red-900 font-bold"></i>
          <span class="font-medium text-red-900 font-bold">Log Out</span>
        </a>
      </div>
    </div>
  </div>
  <div class="flex-auto flex flex-column min-h-screen overflow-y-auto">
    <div
      class="flex justify-content-between align-items-center p-3 surface-0 surface-border sticky top-0 z-1">
      <div class="flex">
        <a pRipple
           class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3"
           pStyleClass="#app-sidebar-1" enterFromClass="hidden" enterActiveClass="fadeinleft" leaveToClass="hidden"
           leaveActiveClass="fadeoutleft" [hideOnOutsideClick]="true">
          <i class="pi pi-bars text-4xl"></i>
        </a>
      </div>
    </div>
    <div class="flex-auto bg-white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
