<div>
  <p-toast></p-toast>

  <div *ngIf="!isLoading" class="py-3 px-5 grid">
    <app-pet-card
      *ngFor="let pet of paginatedPets"
      [petCard]="pet"
      (viewDetails)="showPetDetails($event)"
      class="col-12 md:col-6 xl:col-3 card-container">
    </app-pet-card>
  </div>

  <div *ngIf="!isLoading && paginatedPets.length === 0" class="py-5 flex justify-content-center align-items-center">
    <div class="text-center">
      <i class="pi pi-search-minus" style="font-size: 3rem; color: #64748b;"></i>
      <h3>No pets found</h3>
      <p>There are no pets available with the selected criteria.</p>
    </div>
  </div>

  <app-progreess-spinner [isLoading]="isLoading"></app-progreess-spinner>

  <p-paginator
    *ngIf="!isLoading && pets.length > 0"
    [rows]="8"
    [totalRecords]="pets.length"
    (onPageChange)="onPageChange($event)">
  </p-paginator>

  <app-pets-details-dialog
    [(visible)]="displayPetDetails"
    [pet]="selectedPet"
    (adoptionRequested)="handleAdoptionRequest($event)">
  </app-pets-details-dialog>
</div>
