<p-toast></p-toast>
<p-dialog [(visible)]="visible" [modal]="true" [closable]="false" [showHeader]="false" (onHide)="visibleChange.emit(false)"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '52vw', height: '24rem'}">
  <form class="flex flex-column w-full mt-4">
    <div class="flex w-full justify-content-between mb-4">
      <span class="w-4rem h-4rem border-circle flex justify-content-center align-items-center bg-blue-100"><i
        class="pi pi-lock text-blue-700 text-4xl"></i></span>
      <button pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-secondary p-button-text align-self-start"
              (click)="visible = false"></button>
    </div>
    <p class="font-semibold text-xl mt-0 mb-2 text-900">Authenticate Your Account</p>
    <p class="font-normal text-base mt-0 mb-3 text-600">Protecting your profile is our first priority. Please confirm
      your account by entering the authorization code sent to Microsoft Authenticator.</p>
    <div class="flex justify-content-between w-full align-items-center mb-4 gap-2">
      <input #input1 type="text" maxlength="1" pInputText pKeyFilter="int" class="w-4rem xl:w-6rem text-center"
             (keyup)="focus($event, input2)">
      <input #input2 type="text" maxlength="1" pInputText pKeyFilter="int" class="w-4rem xl:w-6rem text-center"
             (keyup)="focus($event, input3)">
      <input #input3 type="text" maxlength="1" pInputText pKeyFilter="int" class="w-4rem xl:w-6rem text-center"
             (keyup)="focus($event, input4)">
      <input #input4 type="text" maxlength="1" pInputText pKeyFilter="int" class="w-4rem xl:w-6rem text-center"
             (keyup)="focus($event, input5)">
      <input #input5 type="text" maxlength="1" pInputText pKeyFilter="int" class="w-4rem xl:w-6rem text-center"
             (keyup)="focus($event, input6)">
      <input #input6 type="text" maxlength="1" pInputText pKeyFilter="int" class="w-4rem xl:w-6rem text-center">
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="pt-3 flex justify-content-between align-items-center">
      <button pButton pRipple (click)="submitCode()" label="Submit Code" class="m-0"></button>
    </div>
  </ng-template>
</p-dialog>
